@model IEnumerable<InDMoviesWeb.Models.UsuarioModel>


<table class="table">
    <tr></tr>
    <tr></tr>
@foreach (var item in Model) {
    <tr>
        <td>
            <div class="panel panel-default">
                <div class="panel-body">
                    <img height="50" width="50" src="@Html.DisplayFor(modelItem => item.Imagen)" />
                    <strong>@Html.DisplayFor(modelItem => item.Nick)</strong>
                </div>
            </div>
        </td>
        <td> </td>
    </tr>
}
</table>