@model WebApplication1.Models.RolModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

@Html.DropDownListFor(
    x => x.SelectedRol,
    new SelectList(Model.Roles)
)

