@model IEnumerable<InDMoviesWeb.Models.ComentarioModel>
@using Microsoft.AspNet.Identity


@foreach (var item in Model) {

    
        <h4>
            &emsp;-@Html.DisplayFor(modelItem => item.Usuario):
        </h4>

        <p>
            &emsp;&emsp;@Html.DisplayFor(modelItem => item.Texto)
        </p>
        
        if (item.Email == User.Identity.GetUserName())
        {
        <p>
            &emsp;&emsp; 

            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#67AECA; border-color:#67AECA; font-size:9pt" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#67AECA; border-color:#67AECA; font-size:9pt" })

        </p>
        }
        <hr />
    
}


